<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper的接口绑定
        1.namespace:与mapper接口的全限定类名一致
        2.mybatis.xml中<mappers>里使用<packabg>标签-->
<mapper namespace="com.jhly.myBatisDemo.mapper.StudentMapper">
    <select id="selectAll" resultType="student">
    select * from student
    </select>
    <!--    多参数时不需要parameterType-->
    <select id="selectBySidAndSname" resultType="student">
select * from student where sid = #{param1} or sname = #{param2}
    </select>
    <!--    使用注解传参，#{}内写注解配的参数名-->
    <select id="selectBySidAndAge" resultType="student">
        <!--select * from student where sid = #{sid} or age = #{age} -->
        select * from student
        <where>
            <!--OGNL表达式，直接写key或对象的属性,不需要添加任何特殊符号-->
            <if test="sid != null and sid != ''">
                and sid = #{sid}
            </if>
            <if test="age != null and age != ''">
                or age = #{age}
            </if>
        </where>
    </select>
    <resultMap id="myMap" type="student">
        <!--        主键使用id标签配置映射关系-->
        <id column="sid" property="sid"></id>
        <!--        其他属性使用result-->
        <result column="age" property="age"/>
        <result column="sname" property="sname"/>
        <result column="tid" property="tid"/>
        <!--        关联一个对象-->
        <association property="teacher" select="com.jhly.myBatisDemo.mapper.TeacherMapper.selectById" column="tid"/>
    </resultMap>
    <select id="selectST" resultMap="myMap">
        select * from student
    </select>
    <select id="selectByTid" resultType="student" parameterType="int">
    select * from student where tid = #{tid}
    </select>
    <!--    AutoMapping方式：sql语句查询与实体对应，关联表查询结果起别名对应实体类 查询出的列别和属性名相同-->
    <select id="selectAuto" resultType="student">
        select s.*,t.id 'teacher.id',t.tname 'teacher.tname'
        from student s left join teacher t
        on s.tid = t.id
    </select>
</mapper>

